<div class="explorer-content">
    <header>
        <aside>{{! label view will be inserted here }}</aside>
        <h3 class="title is-3">{{label}}</h3>
    </header>


    <h4 class="title is-4">Properties:</h4>
    {{#each properties}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}

    <br />

    <h4 class="title is-4">Item metadata:</h4>
    {{#each itemMetadata}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}

    <br />

    {{#if annotationMetadata}}
    <h4 class="title is-4">Annotation metadata:</h4>
    {{#each annotationMetadata}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}

    <br />
    {{/if}}

    <h4 class="title is-4">Related items:</h4>
    {{#each relatedItems}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}
    <div class="button" id="fakeButton">I exist therefore I test!</div>

    <br />
    <br />

    {{#if annotations}}
    <h4 class="title is-4">Annotations:</h4>
    {{#each annotations}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}

    <br />
    {{/if}}

    <h4 class="title is-4">External resources:</h4>
    {{#each externalResources}}
    <b>{{@key}}</b>: {{this}}</p>
    {{/each}}
</div>
