<div class="explorer-content">
    <div id="lblViewWrapper"></div>
    <h3 class="title is-3">{{label}}</h3>

    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>Properties</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>


    <section class="accordions">
        <article class="accordion has-mt-10">
            <div class="accordion-header toggle">
                <p>Item metadata</p>
                <button class="toggleProxy" aria-label="toggle"></button>
            </div>
            <div class="accordion-body">
                <div class="accordion-content">
                    {{#each itemMetadata}}
                    <b>{{@key}}</b>: {{this}}</p>
                    {{/each}}
                </div>
            </div>
        </article>

        {{#if annotationMetadata}}
        <article class="accordion">
            <div class="accordion-header">
                <p>Annotation metadata</p>
                <button class="toggleProxy" aria-label="toggle"></button>
            </div>
            <div class="accordion-body">
                <div class="accordion-content">
                    {{#each annotationMetadata}}
                    <b>{{@key}}</b>: {{this}}</p>
                    {{/each}}
                </div>
            </div>
        </article>
        {{/if}}
    </section>

    <section class="item-sections">
        <article class="item-section has-mt-10">
            <div class="item-section-header">
                <p>Related items</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip" data-tooltip="Open related items">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        {{#if annotations}}
        <article class="item-section has-mt-10">
            <div class="item-section-header">
                <p>Annotations</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip" data-tooltip="Open annotations">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        {{/if}}
        <article class="item-section has-mt-10">
            <div class="item-section-header">
                <p>External resources</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip" data-tooltip="Open annotations">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
    </section>
</div>
