<div>
    <p class="title is-3 is-centered">Welcome Annotators!</p>
    <section id="list">
        <div class="sources">
            {{#each sources}}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a data-source-id="{{id}}" class="initAnnotations">
                                <p class="title is-5">{{name}} ({{author.name}})</p>
                            </a>
                            {{#if annotations}}                            
                            <p class="subtitle is-6">Annotations last updated: {{dateAnnotatedByCurrentUser}}</p>
                            {{else}}                            
                            <p class="subtitle is-6">You haven't annotated this yet
                                <span id="add-new-button" class="icon tooltip initAnnotations" data-tooltip="Add annotations now">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                            </p>
                            {{/if}}
                        </div>
                        <div class="media-right">
                            {{#unless annotations}}

                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>