<p class="search-resultcount">{{results.length}} hits:</p>
{{#each results}}
<div class="box searchresult-resultbox">
    <article class="columns">
        <div class="column is-6">
            <div class="searchresult-details">
                <strong>{{this.fragment.text}}</strong>
                <p>Source: {{this.source.attributes.name}}</p>
                <p>Published: {{this.source.attributes.publicationDate}}</p>
            </div>

        </div>
        <div class="column is-6 searchresult-right">
            <p>
                {{#each this.tags}}
                <div class="tag is-medium tag-{{this.attributes.className}}">{{this.attributes.name}}</div>
                {{/each}}
            </p>
            <div class="searchresult-icons">
                <nav class="level is-mobile">
                    <div class="level-right">
                        <a class="level-item" aria-label="comment">
                            <span class="icon is-small has-text-black tooltip" data-tooltip="Add a comment">
                                <i class="far fa-comment" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="level-item" aria-label="like">
                            <span class="icon is-small has-text-black tooltip" data-tooltip="Add to a collection">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

    </article>
</div>
{{/each}}
<div id="result-detail-container"></div>