<div class="field">
    <label for="category-{{cid}}" class="label">Category</label>
    {{! label view will be inserted here }}
</div>

<div class="field">
    <label for="label-{{cid}}" class="label">Preferred label (English)</label>
    <div class="control">
        <input type=text required id="label-{{cid}}" class="input">
    </div>
    <label for="label-{{cid}}" class="help">
        Required field.
        Please make the label very specific to prevent ambiguity.
        For example <i>Margaret Blessington (Ireland, 1789&ndash;1849)</i>.
        Will be set as the <a
            href="https://www.w3.org/TR/skos-reference/#labels"
            target=_blank
            rel="noopener noreferrer"
        ><code>skos:prefLabel</code></a> with language <code>en</code>.
    </label>
</div>

<div class="field">
    <label for="property-{{cid}}" class="label">Other properties</label>
    <div class="item-multifield">
        {{! Item Multifield inserted here}}
    </div>
</div>

<div class="field">
    <label for="related-{{cid}}" class="label">Related items</label>
    <div class="control">
        <input
            type=text
            readonly
            value="You can add related items after saving."
            id="related-{{cid}}"
            class="input is-static"
        >
    </div>
</div>
