<figure class="footer-dh">
    <p>{{#i18n 'developed_by'}}Developed by{{/i18n}}</p>
    <a href="https://dig.hum.uu.nl" target="_blank"><img class="dhlab"
            src="{{static 'image/dighum-logo-blue.svg'}}"></a>
    <div class="footer-project is-pulled-right">
        <a href="https://uu.nl" target="_blank"></a><img class="uu" src="{{static 'image/UU-logo.svg'}}"></a>
        <a href="http://www.univ-lemans.fr" target="_blank"><img class="lemans"
                src="{{static 'image/le-mans-university-logo.png'}}"></a>
        <a href="https://www.irisa.fr/" target="_blank"><img class="irisa" src="{{static 'image/IRISA-logo.png'}}"></a>
        <a href="http://www.open.ac.uk/" target="_blank"><img class="ou"
                src="{{static 'image/open-university-logo.png'}}"></a>
        <a href="http://www.ucl.cas.cz/en/" target="_blank"><img class="icl"
                src="{{static 'image/Institute-for-Czech-literature-logo.png'}}"></a>
    </div>
</figure>


