<div id="modalContainer" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            <p class="subtitle is-6">{{selection}}</p>
            <nav class="panel">
                <p class="panel-tabs">
                    {{#each categories}}
                    <a id="{{id}}" value="{{machineName}}"
                        class="tab rit-{{machineName}} tag is-medium category">
                        {{name}}
                    </a>
                    {{/each}}
                </p>                
            </nav>
        </section>
    </div>
    <button class="modal-close is-medium" aria-label="close"></button>
</div>