<div>
    <p class="title is-3 is-centered">Welcome</p>

    <section id="list">
        <p class="title is-5">Sources</p>
        <p class="subtitle is-6">Here you find the sources available.
            Click on one to start annotating or see and edit the annotations you made earlier.</p>
        <div class="sources">
            {{#each sources}}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a data-source-id="{{id}}" class="initAnnotations">
                                <p class="title is-5">{{name}} ({{author}})</p>
                            </a>
                            {{#if annotations}}
                            <p class="subtitle is-6">Number of annotations: {{annotations.length}}</p>
                            {{else}}
                            <p class="subtitle is-6">You haven't annotated this yet
                                <span id="add-new-button" class="icon tooltip initAnnotations"
                                    data-tooltip="Add annotations now" data-source-id="{{id}}">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>