<div class="title is-1">Annotation works!</div>

<div class="annotationWrapper">
    <div id="fragmentWrapper">
        <p>{{{annotatedText}}}</p>
        {{!-- <p>{{fragment.attributes.text}}</p> --}}
    </div>
</div>
<div id="modalContainer" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-head-text">
                <p class="modal-card-title title is-4">Titel</p>
                <p class="subtitle is-6">Subtitle</p>
            </div>
        </header>
        <section class="modal-card-body">
            {{#if selectedCategory}}
            <div id="returnToCategories" class="button">
                <span class="icon is-small has-text-black">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </span>
                <p>  Return to categories</p>  
            </div>
            <div class="tag-{{selectedCategory.attributes.name}}">{{selectedCategory.attributes.name}}</div>
            <div class="attributes">
                {{#each selectedCategory.attributes.attributes}}
                <p>____ {{this.name}}</p>
                {{/each}}
            </div>
            {{else}}
            <div class="categories">
                {{#each categories}}
                <div id="{{this.attributes.id}}" class="box category tag-{{this.attributes.name}}">
                    <div>{{this.attributes.name}}</div>                    
                </div>
                {{/each}}
            </div>
            {{/if}}
        </section>
    </div>
    <button class="modal-close is-medium" aria-label="close"></button>
</div>