<div>
    <p class="title is-3 is-centered">Skinny annotation tool -- Welcome</p>
    <div class="intro-text">
    <p class="subtitle is-6">
        Welcome to the so-called <i>skinny</i> version of Read-IT's annotation tool! Skinny, here, refers to the fact that this is
        a demo application, created by the Digital Humanities Lab for the sole purpose of enabling the project team to do some
        first tests with annotating using Read-IT's ontology. It is NOT a full-fledged annotation tool by far, and isn't intended as such.
        For example, if you create overlapping annotations, you will not be able to see both of them (one hides the other).
        Other things that might logically be expected in an annotation tool might, and will, be missing.
    </p>
    <p class="subtitle is-6">
        A more complete implementation of the annotation tool will be available in Read-IT's actual interface. This latter version will
        be based on input and feedback from the team, so if you have remarks, suggestions or questions contact us via Slack or digitalhumanities@uu.nl.
    </p>
    <p class="subtitle is-6">
        Below you find the source texts currently available, separated by language (i.e. please scroll down for French).
        Click on one to start annotating or see and edit the annotations you made earlier.
    </p>
    </div>
    <br>
    <br>

    <section id="list">
        <p class="subtitle is-6"></p>
        <div class="sources">
            <p class="title is-6">English</p>
            {{#each enSources}}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a data-source-id="{{id}}" class="initAnnotations">
                                <p class="title is-5">{{name}} ({{author}})</p>
                            </a>
                            {{#if annotations}}
                            <p class="subtitle is-6">Number of annotations: {{annotations.length}}</p>
                            {{else}}
                            <p class="subtitle is-6">You haven't annotated this yet
                                <span id="add-new-button" class="icon tooltip initAnnotations"
                                    data-tooltip="Add annotations now" data-source-id="{{id}}">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <br>
            <br>
            <p class="title is-6">French</p>
            {{#each frSources}}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a data-source-id="{{id}}" class="initAnnotations">
                                <p class="title is-5">{{name}} ({{author}})</p>
                            </a>
                            {{#if annotations}}
                            <p class="subtitle is-6">Number of annotations: {{annotations.length}}</p>
                            {{else}}
                            <p class="subtitle is-6">You haven't annotated this yet
                                <span id="add-new-button" class="icon tooltip initAnnotations"
                                    data-tooltip="Add annotations now" data-source-id="{{id}}">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <br>
            <br>
            <p class="title is-6">German</p>
            {{#each deSources}}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a data-source-id="{{id}}" class="initAnnotations">
                                <p class="title is-5">{{name}} ({{author}})</p>
                            </a>
                            {{#if annotations}}
                            <p class="subtitle is-6">Number of annotations: {{annotations.length}}</p>
                            {{else}}
                            <p class="subtitle is-6">You haven't annotated this yet
                                <span id="add-new-button" class="icon tooltip initAnnotations"
                                    data-tooltip="Add annotations now" data-source-id="{{id}}">
                                    <i class="fas fa-plus-circle fa-sm"></i>
                                </span>
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
