<div id="modalContainer" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            <p class="subtitle is-6">{{selection}}</p>
            <nav class="panel">
                <p class="panel-tabs">
                    {{#each categories}}
                    {{#if this.attributes.attributes}}
                    <a id="{{this.attributes.id}}" value="{{this.attributes.class}}"
                        class="tab {{this.attributes.class}} tag is-medium category">
                        {{this.attributes.name}}
                    </a>
                    {{/if}}
                    {{/each}}
                </p>                
            </nav>
        </section>
    </div>
    <button class="modal-close is-medium" aria-label="close"></button>
</div>