<div class="landing">
    <h1 class="title">
        Welcome, {{user}}
    </h1>
    <div class="card sources">
        <div class="card-content">
            <p class="title">Sources</p>
            <p class="subtitle">You uploaded {{userSources}} of {{totalSources}} sources.</p>
        </div>
        <div class="card-footer">
            <a href="explore/sources/mine" class="card-footer-item user-sources">View your sources</a>
        </div>
    </div>
     <div class="card items">
        <div class="card-content">
            <p class="title">Items</p>
            <p class="subtitle">
            You created {{userItems}} of {{totalItems}} items.</p>
        </div>
        <div class="card-footer">
            <a href="explore/items/mine" class="card-footer-item user-items">View your items</a>
        </div>
    </div>

</div>