<div class="landing">
    <h1 class="title">
        Welcome, {{username}}
    </h1>
    <div class="card sources">
        <div class="card-content">
            <p class="title">{{#i18n 'sources'}}Sources{{/i18n}}</p>
            <p class="subtitle">{{#i18n 'sources_tally'}}You uploaded {{userSources}} of {{totalSources}} sources.{{/i18n}}</p>
        </div>
        <div class="card-footer">
            <a href="explore/sources/mine" class="card-footer-item user-sources">{{#i18n 'view_sources'}}View your sources{{/i18n}}</a>
            <a href="explore/sources" class="card-footer-item user-sources">{{#i18n 'explore_sources'}}Explore sources{{/i18n}}</a>
        </div>
    </div>
    <div class="card items">
        <div class="card-content">
            <p class="title">{{#i18n 'items'}}Items{{/i18n}}</p>
            <p class="subtitle">
                {{#i18n 'items_tally'}}You created {{userItems}} of {{totalItems}} items.{{/i18n}}
            </p>
        </div>
        <div class="card-footer">
            <a href="explore/items/mine" class="card-footer-item user-items">{{#i18n 'view_items'}}View your items{{/i18n}}</a>
            <a href="explore/items" class="card-footer-item user-items">{{#i18n 'explore_items'}}Explore items{{/i18n}}</a>
        </div>
    </div>
</div>
