{{#if title_calc }}
<div><strong>{{title_calc}}{{#if trimmedTitle}}{{ellipsis}}{{/if}}</strong></div>
{{/if}}
<p class="is-unselectable">
    {{#if trimmedStart}}{{ellipsis}}{{/if}}
    {{prefix_calc}} <span class="is-readit-selection">{{exact_calc}}</span> {{suffix_calc}}
    {{#if trimmedEnd}}{{ellipsis}}{{/if}}
</p>
