<div class="panel-header">
    <header>
        <aside>{{! label view will be inserted here }}</aside>
        <h3 class="title is-3">{{label}}</h3>
        <h6 class="subtitle is-6">
        {{#if annotationSerial }}
        {{#if itemSerial}}
            {{#i18n 'annotation.subtitle-serial-identified'}}Annotation {{annotationSerial}}, identified as item {{itemSerial}}{{/i18n}}
        {{else}}
            {{#i18n 'annotation.subtitle-serial-tag-only'}}Annotation {{annotationSerial}}{{/i18n}}
        {{/if}}
        {{else}}
        {{#if itemSerial}}
            {{#i18n 'item.subtitle-serial'}}Item {{itemSerial}}{{/i18n}}
        {{/if}}
        {{/if}}
        </h6>
        {{#if needsVerification}}
        <h6 class="title is-6">
            {{#i18n 'annotation.needs-verification'}}This annotation needs to be verified.{{/i18n}}
        </h6>{{/if}}
    </header>
</div>
<div class="panel-content">

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>{{#i18n 'label.item-properties'}}Item properties{{/i18n}}</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>{{#i18n 'label.name'}}Name{{/i18n}}</th>
                        <th>{{#i18n 'label.value'}}Value{{/i18n}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>
    {{/if}}

    <section class="metadataContainer"></section>

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section has-mt-10">
            <div class="item-section-header btn-related">
                <p>{{#i18n 'button.related-items'}}Related items{{/i18n}}</p>
                <span class="icon is-large has-text-primary">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header btn-annotations">
                <p>{{#if annotationSerial }}
                    {{#i18n 'button.other-annotations'}}Other annotations{{/i18n}}
                    {{else}}
                    {{#i18n 'button.annotations'}}Annotations{{/i18n}}
                {{/if}}</p>
                <span class="icon is-large has-text-primary">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header btn-external">
                <p>{{#i18n 'button.external-resources'}}External resources{{/i18n}}</p>
                <span class="icon is-large has-text-primary">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
    </section>
    {{/if}}

</div>
<div class="panel-footer">
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button type=button class="button btn-edit">{{#i18n 'button.edit'}}Edit{{/i18n}}</button>
            </div>
        </div>
        {{#if annotationSerial }}
        <div class="level-right">
            <div class="level-item">
                <button type=button class="button btn-new">{{#i18n 'button.new'}}New{{/i18n}}</button>
            </div>
        </div>
        {{/if}}
    </nav>
</div>
