<div class="panel-header">
    <header>
        <aside>{{! label view will be inserted here }}</aside>
        <h3 class="title is-3">{{label}}</h3>
        <h6 class="subtitle is-6">{{#if annotationSerial }}
            Annotation {{ annotationSerial }}{{#if itemSerial}},
            identified as
            {{/if}}{{/if}}{{#if itemSerial }}
            item/{{ itemSerial }}
        {{/if}}</h6>
        {{#if needsVerification}}
        <h6 class="title is-6">
            This annotation needs to be verified.
        </h6>{{/if}}
    </header>
</div>
<div class="panel-content">

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>Item properties</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>
    {{/if}}

    <section class="metadataContainer"></section>

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnRelItems">
                <p>Related items</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left" data-tooltip="Open related items">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnAnnotations">
                <p>{{#if annotationSerial }}
                    Other annotations
                    {{else}}
                    Annotations
                {{/if}}</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left" data-tooltip="Open annotations">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnExtResources">
                <p>External resources</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="Open external resources">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
    </section>
    {{/if}}

</div>
<div class="panel-footer">
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button type=button class="button btn-edit">Edit</button>
            </div>
        </div>
        {{#if annotationSerial }}
        <div class="level-right">
            <div class="level-item">
                <button id="btnNewAnnotation" type=button class="button btn-new">New</button>
            </div>
        </div>
        {{/if}}
    </nav>
</div>
