<div class="panel-header">
    <header>
        <aside>{{! label view will be inserted here }}</aside>
        <h3 class="title is-3">{{label}}</h3>
        <h6 class="subtitle is-6">{{#if annotationSerial }}
            {{#i18n 'annotation'}}Annotation{{/i18n}} {{ annotationSerial }}{{#if itemSerial}},
            {{#i18n 'identified-as'}}identified as{{/i18n}}
            {{/if}}{{/if}}{{#if itemSerial }}
            {{#i18n 'item'}}item{{/i18n}}/{{ itemSerial }}
        {{/if}}</h6>
        {{#if needsVerification}}
        <h6 class="title is-6">
            {{#i18n 'annotation-verification'}}This annotation needs to be verified.{{/i18n}}
        </h6>{{/if}}
    </header>
</div>
<div class="panel-content">

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>{{#i18n 'item-properties'}}Item properties{{/i18n}}</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>{{#i18n 'name'}}Name{{/i18n}}</th>
                        <th>{{#i18n 'value'}}Value{{/i18n}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>
    {{/if}}

    <section class="metadataContainer"></section>

    {{#if itemSerial }}
    <section class="item-sections">
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnRelItems">
                <p>{{#i18n 'related-items-title'}}Related items{{/i18n}}</p>
                <span
                    class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="{{#i18n 'open-related'}}Open related items{{/i18n}}"
                >
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnAnnotations">
                <p>{{#if annotationSerial }}
                    {{#i18n 'other-annotations-title'}}Other annotations{{/i18n}}
                    {{else}}
                    {{#i18n 'annotations-title'}}Annotations{{/i18n}}
                {{/if}}</p>
                <span
                    class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="{{#i18n 'open-annotations'}}Open annotations{{/i18n}}"
                >
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnExtResources">
                <p>{{#i18n 'external-resources-title'}}External resources{{/i18n}}</p>
                <span
                    class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="{{#i18n 'open-external'}}Open external resources{{/i18n}}"
                >
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
    </section>
    {{/if}}

</div>
<div class="panel-footer">
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button type=button class="button btn-edit">{{#i18n 'edit'}}Edit{{/i18n}}</button>
            </div>
        </div>
        {{#if annotationSerial }}
        <div class="level-right">
            <div class="level-item">
                <button id="btnNewAnnotation" type=button class="button btn-new">{{#i18n 'new'}}New{{/i18n}}</button>
            </div>
        </div>
        {{/if}}
    </nav>
</div>
