<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>READ-IT</title>
        <link rel=stylesheet href="{{{staticRoot}}}{{{cssBundleName}}}">
        <link rel="icon" href="{{{staticRoot}}}image/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header id="header"></header>
        <main id="main">
        </main>
        <footer class="footer"></footer>
        {{#libs}}<script src="{{{@root.nodeRoot}}}{{{path}}}"></script>
        {{/libs}}<script src="{{{staticRoot}}}{{{jsBundleName}}}"></script>
    </body>
</html>
