<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>READ-IT Jasmine test suite</title>
    <link rel=stylesheet href="{{{nodeRoot}}}{{{jasminePrefix}}}jasmine.css">
</head>

<body>
    {{#libs}}
    <script src="{{{@root.nodeRoot}}}{{{path}}}"></script>
    {{/libs}}
    <script src="{{{nodeRoot}}}{{{jasminePrefix}}}jasmine.js"></script>
    <script src="{{{nodeRoot}}}{{{jasminePrefix}}}jasmine-html.js"></script>
    <script src="{{{nodeRoot}}}{{{jasminePrefix}}}json2.js"></script>
    <script src="{{{nodeRoot}}}{{{jasminePrefix}}}boot.js"></script>
    <script src="{{{staticRoot}}}{{{unittestBundleName}}}"></script>
</body>

</html>
